<h2>Edit jenis pemasukan</h2>

<%= render "form.html", changeset: @changeset,
                        action: jenis_pemasukan_path(@conn, :update, @jenis_pemasukan) %>

<%= link "Back", to: jenis_pemasukan_path(@conn, :index) %>
