<h2>Show jenis pemasukan</h2>

<ul>

  <li>
    <strong>Pemasukan:</strong>
    <%= @jenis_pemasukan.pemasukan %>
  </li>

</ul>

<%= link "Edit", to: jenis_pemasukan_path(@conn, :edit, @jenis_pemasukan) %>
<%= link "Back", to: jenis_pemasukan_path(@conn, :index) %>
