<h2>Show jenis pengeluaran</h2>

<ul>

  <li>
    <strong>Pengeluaran:</strong>
    <%= @jenis_pengeluaran.pengeluaran %>
  </li>

</ul>

<%= link "Edit", to: jenis_pengeluaran_path(@conn, :edit, @jenis_pengeluaran) %>
<%= link "Back", to: jenis_pengeluaran_path(@conn, :index) %>
