<h2>Show dana sosial</h2>

<ul>

  <li>
    <strong>Id anggota:</strong>
    <%= @dana_sosial.id_anggota %>
  </li>

  <li>
    <strong>Tanggal:</strong>
    <%= @dana_sosial.tanggal %>
  </li>

  <li>
    <strong>Jumlah:</strong>
    <%= @dana_sosial.jumlah %>
  </li>

</ul>

<%= link "Edit", to: dana_sosial_path(@conn, :edit, @dana_sosial) %>
<%= link "Back", to: dana_sosial_path(@conn, :index) %>
