<h2>Show dana arisan</h2>

<ul>

  <li>
    <strong>Idlokasi:</strong>
    <%= @dana_arisan.idlokasi %>
  </li>

  <li>
    <strong>Id anggota:</strong>
    <%= @dana_arisan.id_anggota %>
  </li>

  <li>
    <strong>Jumlah:</strong>
    <%= @dana_arisan.jumlah %>
  </li>

</ul>

<%= link "Edit", to: dana_arisan_path(@conn, :edit, @dana_arisan) %>
<%= link "Back", to: dana_arisan_path(@conn, :index) %>
