<h2>Show lokasi arisan</h2>

<ul>

  <li>
    <strong>Lokasi:</strong>
    <%= @lokasi_arisan.lokasi %>
  </li>

  <li>
    <strong>Tanggal:</strong>
    <%= @lokasi_arisan.tanggal %>
  </li>

</ul>

<%= link "Edit", to: lokasi_arisan_path(@conn, :edit, @lokasi_arisan) %>
<%= link "Back", to: lokasi_arisan_path(@conn, :index) %>
