<h2>Edit simpanan sukarela</h2>

<%= render "form.html", changeset: @changeset,
                        action: simpanan_sukarela_path(@conn, :update, @simpanan_sukarela) %>

<%= link "Back", to: simpanan_sukarela_path(@conn, :index) %>
