<h2>Show simpanan sukarela</h2>

<ul>

  <li>
    <strong>Id anggota:</strong>
    <%= @simpanan_sukarela.id_anggota %>
  </li>

  <li>
    <strong>Tanggal:</strong>
    <%= @simpanan_sukarela.tanggal %>
  </li>

  <li>
    <strong>Jumlah:</strong>
    <%= @simpanan_sukarela.jumlah %>
  </li>

</ul>

<%= link "Edit", to: simpanan_sukarela_path(@conn, :edit, @simpanan_sukarela) %>
<%= link "Back", to: simpanan_sukarela_path(@conn, :index) %>
