<h2>Edit simpanan wajib</h2>

<%= render "form.html", changeset: @changeset,
                        action: simpanan_wajib_path(@conn, :update, @simpanan_wajib) %>

<%= link "Back", to: simpanan_wajib_path(@conn, :index) %>
