<h2>Show simpanan wajib</h2>

<ul>

  <li>
    <strong>Id anggota:</strong>
    <%= @simpanan_wajib.id_anggota %>
  </li>

  <li>
    <strong>Tanggal:</strong>
    <%= @simpanan_wajib.tanggal %>
  </li>

  <li>
    <strong>Jumlah:</strong>
    <%= @simpanan_wajib.jumlah %>
  </li>

</ul>

<%= link "Edit", to: simpanan_wajib_path(@conn, :edit, @simpanan_wajib) %>
<%= link "Back", to: simpanan_wajib_path(@conn, :index) %>
